# sepolia
VITE_MARKET_CONTRACT_ADDRESS="0x583a9Bd3E45501e034235A12D10B7935A8Cd129E"
VITE_FACTORY_CONTRACT_ADDRESS="0x716F7A753dc50310Fb25AeADaA7f699A708C7Db0"


VITE_PINATA_API_KEY="<your pinata api key>"
VITE_PINATA_API_SECRET="<your pinata api secret>"

# setup the back end using https://github.com/davidbong-05/elysium-mongodb-api.git
ELYSIUM_API_URL = <your elysium api url>
